# Exercise 04 - Due Friday, October 21 at 12pm

*Objectives*: Gain experience loading a CSV dataset into a database model you define yourself and using SQL to explore its contents. Explore the data by writing and executing a number of SQL queries using common syntax and functions and describing your findings.

*Grading criteria*: The tasks should all be completed, and questions should all be answered with SQL queries in the space provided, unless a text answer is requested. Results should be correct, according to the embedded tests. The notebook itself should be completely reproducible; from start to finish, another person should be able to use the same code to obtain the same results as yours.  Note that you will receive no more than partial credit if you do not add text/markdown cells explaining your thinking at each major step in each problem.

*Deadline*: Friday, October 21, 12pm. Submit your notebook to Blackboard and push it to your GitHub repository.

## Setup - obtain data and create database

The US City Open Data Census has data on [restaurant inspections from all over the country](http://us-city.census.okfn.org/dataset/food-safety).  Let's take a look at data from Albuquerque.  *Note*: metadata and other details for this dataset are available at http://data.cabq.gov/business/foodinspections/.

Fyi, to save you a step, I've converted this file into a clean CSV file by using the `dos2unix` command to change its line endings and to switch it to use commas instead of tabs using `csvformat -t inputfile.csv > outputfile.csv`.

First we download the dataset:

In [1]:
!wget https://raw.githubusercontent.com/gwsb-istm-6212-fall-2016/syllabus-and-schedule/master/exercises/abq-food-inspections-fy2010.csv

--2016-10-23 12:46:35--  https://raw.githubusercontent.com/gwsb-istm-6212-fall-2016/syllabus-and-schedule/master/exercises/abq-food-inspections-fy2010.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.32.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5025226 (4.8M) [text/plain]
Saving to: ‘abq-food-inspections-fy2010.csv’

abq-food-inspection 100%[===================>]   4.79M  10.1MB/s    in 0.5s

2016-10-23 12:46:35 (10.1 MB/s) - ‘abq-food-inspections-fy2010.csv’ saved [5025226/5025226]

## Problem 1 - examine the data (35 points)

Use `csvstat` and other tools as you see fit and observe its contents.  Review the metadata definitions linked to above.  Describe what you see:  What do all the columns mean?  Are there null values?  Which columns interest you the most?  Which columns present some complications or questions you would like to ask?

Insert a combination of code and text/markdown cells here to review the data and describe what you find.

In [8]:
!mv abq-food-inspections-fy2010.csv abq.csv

I use the csvcut command to see the columns in the file and print the first 10 rows of all columns.

In [4]:
!csvcut -n abq.csv

  1: FACILITY_NAME
  2: FACILITY_KEY
  3: SITE_ADDRESS
  4: CITY
  5: STATE
  6: ZIP
  7: OWNER_KEY
  8: OWNER_NAME
  9: NATURE_OF_BUSINESS
 10: STREET_NUMBER
 11: STREET_NAME
 12: STREET_TYPE
 13: POST_DIRECTIONAL
 14: PHONE
 15: PROGRAM_CATEGORY
 16: PROGRAM_CATEGORY_DESCRIPTION
 17: INSPECTION_DATE
 18: INSPECTION_TYPE
 19: INSPECTION_DESC
 20: SERIAL_NUM
 21: ACTION_CODE
 22: ACTION_DESC
 23: RESULT_CODE
 24: RESULT_DESC
 25: VIOLATION_CODE
 26: VIOLATION_DESC
 27: INSPECTION_MEMO

In [18]:
!csvcut -c2,7,9,12 abq.csv | csvsort | uniq -c | sort -rn | head -10 | csvlook
!csvcut -c13,15,16,18 abq.csv | csvsort | uniq -c | sort -rn | head -10 | csvlook
!csvcut -c19,20,21,22 abq.csv | csvsort | uniq -c | sort -rn | head -10 | csvlook
!csvcut -c23,24,25,27 abq.csv | csvsort | uniq -c | sort -rn | head -10 | csvlook

|----------------+-------+---------------------------+-------|
|       93 46323 | 43607 | RESTAURANT                |       |
|----------------+-------+---------------------------+-------|
|       85 65863 | 60564 | SELLING ICE CREAM         | BLVD  |
|       68 80949 | 73886 | FOOD BANK                 |       |
|       68 32817 | 30613 | SEASONAL VENUE-FIXED LOCA | BLVD  |
|       66 91825 | 80274 | CONVIENENCE STORE         | AV    |
|       65 64527 | 59350 | MOBILE PUSH CARTS         | ST    |
|       64 54654 | 50853 | SUPERMARKET               | BLVD  |
|       61 93519 | 84586 | THAI FOOD                 | DR    |
|       61 91821 | 80274 | CONVIENENCE STORE         | AV    |
|       61 90924 | 610   | RESTAURANT                | ST    |
|----------------+-------+---------------------------+-------|
sort: write failed: 'standard output': Broken pipe
sort: write error
|-------------+------+------------------------------------------+---|
|     4084 NE | 0406 | Food Service Establishment               |   |
|-------------+------+------------------------------------------+---|
|     1972 NW | 0406 | Food Service Establishment               |   |
|     1361 SE | 0406 | Food Service Establishment               |   |
|      524 NE | 0601 | Retail -Grocery                          |   |
|      522 NE | 0607 | Retail - Self Service & Prepackage Foods |   |
|      483 NE | 0501 | Bar                                      |   |
|      460 SW | 0406 | Food Service Establishment               |   |
|      459 NE | 0606 | Retail - Prepackage Only                 |   |
|      408 NE | 0408 | School                                   |   |
|      384 NE | 0402 | Childcare                                |   |
|-------------+------+------------------------------------------+---|
|--------------------------------------+-----------+----+-----------------|
|       61 ROUTINE FOOD INSPECTION     | DA0045731 | 11 | APPROVED        |
|--------------------------------------+-----------+----+-----------------|
|       61 PRE-OPENING FOOD INSPECTION | DA0059230 | 11 | APPROVED        |
|       61 PRE-OPENING FOOD INSPECTION | DA0047720 | 11 | APPROVED        |
|       61 PRE-OPENING FOOD INSPECTION | DA0047290 | 11 | APPROVED        |
|       61 New Business Inspection     | DA0045676 | 11 | APPROVED        |
|       14 ROUTINE FOOD INSPECTION     | DA8509302 | 06 | UNSATISFACTORY  |
|       14 ROUTINE FOOD INSPECTION     | DA0041098 | 11 | APPROVED        |
|       13 ROUTINE FOOD INSPECTION     | DA8508698 | 06 | UNSATISFACTORY  |
|       13 ROUTINE FOOD INSPECTION     | DA7756764 | 06 | UNSATISFACTORY  |
|       12 ROUTINE FOOD INSPECTION     | DA7007213 | 06 | UNSATISFACTORY  |
|--------------------------------------+-----------+----+-----------------|
sort: write failed: 'standard output': Broken pipe
sort: write error
|-------------+----------------+----+---|
|     5587 03 | IN COMPLIANCE  | 55 |   |
|-------------+----------------+----+---|
|     3408 03 | IN COMPLIANCE  | 00 |   |
|     1647 00 | NOT APPLICABLE | 68 |   |
|      562 03 | IN COMPLIANCE  |    |   |
|      472 03 | IN COMPLIANCE  | 42 |   |
|      444 00 | NOT APPLICABLE | 55 |   |
|      425 03 | IN COMPLIANCE  | 35 |   |
|      409 03 | IN COMPLIANCE  | 21 |   |
|      406 03 | IN COMPLIANCE  | 38 |   |
|      386 03 | IN COMPLIANCE  | 45 |   |
|-------------+----------------+----+---|

In [3]:
!csvstat abq.csv

  1. FACILITY_NAME
	<class 'str'>
	Nulls: False
	Unique values: 2615
	5 most frequent values:
		SMITHS FOOD AND DRUG CENTERS INC:	154
		ISOTOPES PARK - OVATIONS:	93
		PER EHSII CECELIA GARCIA OOB LA REYNA DEL SUR:	85
		ECHO INC:	68
		ISLETA AMPHITHEATER:	68
	Max length: 77
  2. FACILITY_KEY
	<class 'int'>
	Nulls: False
	Min: 13
	Max: 101482
	Sum: 820405773
	Mean: 46730.79135338346
	Median: 50866.0
	Standard Deviation: 32659.794578837962
	Unique values: 2835
	5 most frequent values:
		46323:	93
		65863:	85
		32817:	68
		80949:	68
		91825:	66
  3. SITE_ADDRESS
	<class 'str'>
	Nulls: True
	Unique values: 2456
	5 most frequent values:
		1601 AVENIDA CESAR CHAVEZ SE:	94
		644 OLD COORS BLVD SW:	85
		8601 CENTRAL AV NE:	77
		2200 SUNPORT BLVD SE:	75
		5210 CENTRAL AV SE:	73
	Max length: 35
  4. CITY
	<class 'str'>
	Nulls: False
	Values: ALBUQUERQUE
  5. STATE
	<class 'str'>
	Nulls: False
	Values: 87, NM
  6. ZIP
	<class 'str'>
	Nulls: False
	Unique values: 48
	5 most frequent values:
		87110:	1996
		87108:	1976
		87102:	1601
		87106:	1568
		87109:	1552
	Max length: 10
  7. OWNER_KEY
	<class 'int'>
	Nulls: False
	Min: 11
	Max: 87302
	Sum: 644760848
	Mean: 36725.953975848715
	Median: 33747.0
	Standard Deviation: 29428.207216739836
	Unique values: 1892
	5 most frequent values:
		1838:	792
		3537:	321
		1272:	228
		36280:	156
		80274:	155
  8. OWNER_NAME
	<class 'str'>
	Nulls: False
	Unique values: 1852
	5 most frequent values:
		APS:	792
		SMITHS FOOD AND DRUG CENTERS INC:	321
		CIRCLE K STORES INC:	277
		ALBERTSONS:	228
		WAL MART STORES EAST  LP:	156
	Max length: 82
  9. NATURE_OF_BUSINESS
	<class 'str'>
	Nulls: True
	Unique values: 594
	5 most frequent values:
		RESTAURANT:	4994
		FOOD SERVICE:	691
		GROCERY:	618
		BAR/RESTAURANT:	508
		APS SCHOOL FOOD SERVICE:	470
	Max length: 25
 10. STREET_NUMBER
	<class 'str'>
	Nulls: True
	Unique values: 1349
	5 most frequent values:
		6600:	216
		10000:	152
		300:	143
		2200:	127
		8100:	125
	Max length: 7
 11. STREET_NAME
	<class 'str'>
	Nulls: True
	Unique values: 404
	5 most frequent values:
		CENTRAL:	1898
		MENAUL:	928
		COORS:	918
		MONTGOMERY:	727
		SAN MATEO:	707
	Max length: 24
 12. STREET_TYPE
	<class 'str'>
	Nulls: True
	Unique values: 13
	5 most frequent values:
		BLVD:	7636
		AV:	3005
		ST:	2065
		RD:	1900
		DR:	995
	Max length: 4
 13. POST_DIRECTIONAL
	<class 'str'>
	Nulls: True
	Values: SE, N, NW, NE, SW
 14. PHONE
	<class 'int'>
	Nulls: True
	Min: 2471094
	Max: 505345566137310
	Sum: 2608539289633190
	Mean: 161719732773.29138
	Median: 5053454060.0
	Standard Deviation: 8895791545525.992
	Unique values: 2279
	5 most frequent values:
		9153321301:	101
		3037929467:	100
		5052224033:	94
		3109680646:	85
		5052426777:	68
 15. PROGRAM_CATEGORY
	<class 'str'>
	Nulls: False
	Unique values: 25
	5 most frequent values:
		0406:	7969
		0601:	1159
		0607:	894
		0606:	865
		0408:	832
	Max length: 4
 16. PROGRAM_CATEGORY_DESCRIPTION
	<class 'str'>
	Nulls: True
	Unique values: 24
	5 most frequent values:
		Food Service Establishment:	7969
		Retail -Grocery:	1159
		Retail - Self Service & Prepackage Foods:	894
		Retail - Prepackage Only:	865
		School:	832
	Max length: 40
 17. INSPECTION_DATE
	<class 'datetime.date'>
	Nulls: False
	Min: 2009-07-01
	Max: 2010-06-30
	Unique values: 258
	5 most frequent values:
		2009-12-16:	184
		2009-09-10:	159
		2009-09-25:	148
		2009-11-04:	133
		2009-10-01:	131
 18. INSPECTION_TYPE
	<class 'NoneType'>
	Nulls: True
	Values:
 19. INSPECTION_DESC
	<class 'str'>
	Nulls: False
	Unique values: 15
	5 most frequent values:
		ROUTINE FOOD INSPECTION:	12439
		EMERGENCY RESPONSE:	1987
		New Business Inspection:	1005
		PRE-OPENING FOOD INSPECTION:	743
		ADDITIONAL SERVICE PROVIDED:	439
	Max length: 32
 20. SERIAL_NUM
	<class 'str'>
	Nulls: False
	Unique values: 9046
	5 most frequent values:
		DA0045676:	61
		DA0045731:	61
		DA0047720:	61
		DA0059230:	61
		DA0047290:	61
	Max length: 9
 21. ACTION_CODE
	<class 'str'>
	Nulls: False
	Unique values: 8
	5 most frequent values:
		11:	14080
		00:	2800
		09:	382
		06:	264
		10:	21
	Max length: 2
 22. ACTION_DESC
	<class 'str'>
	Nulls: False
	Unique values: 8
	5 most frequent values:
		APPROVED:	14080
		NON-GRADED:	2800
		ANNUAL STICKER ISSUED:	382
		UNSATISFACTORY:	264
		ANNUAL STICKER NOT ISSUED:	21
	Max length: 34
 23. RESULT_CODE
	<class 'str'>
	Nulls: False
	Unique values: 19
	5 most frequent values:
		03:	14389
		00:	2416
		05:	214
		22:	142
		18:	104
	Max length: 2
 24. RESULT_DESC
	<class 'str'>
	Nulls: False
	Unique values: 19
	5 most frequent values:
		IN COMPLIANCE:	14389
		NOT APPLICABLE:	2416
		DOWNGRADE:	214
		OUT OF BUSINESS:	142
		TRAINING RECEIVED:	104
	Max length: 37
 25. VIOLATION_CODE
	<class 'str'>
	Nulls: True
	Unique values: 128
	5 most frequent values:
		55:	6348
		00:	3429
		68:	1658
		42:	487
		35:	441
	Max length: 10
 26. VIOLATION_DESC
	<class 'str'>
	Nulls: True
	Unique values: 70
	5 most frequent values:
		Additional Comments:	6353
		No Violations Found:	3434
		Delivered Informational Brochure:	1657
		Plumbing: Improperly installed/maintained/supplied:	492
		Non-Food contact surfaces:	446
	Max length: 50
 27. INSPECTION_MEMO
	<class 'NoneType'>
	Nulls: True
	Values:

Row count: 17556

There are 12 columns having null value:
1.
2.

## Problem 2 - define a database model and load the data (35 points)

Based on what you found above, create and connect to a new database, define a database table in it, and load this dataset into it.  You may use either of the methods for this step you have seen in earlier class notebooks.  You may choose to eliminate variables/columns if they are not relevant or interesting to you - explain your reasoning if you do.  Either way, you should load a majority of the columns present in the source dataset into the database and all of its rows.

Once your data has loaded successfully, run a `COUNT(*)` query to verify that all the data has loaded correctly.

Insert a combination of code and text/markdown cells here to connect to your database, define your table, load its data, and verify the loaded records.

In [7]:
%load_ext sql

/home/zzq/.local/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/zzq/.local/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
!dropdb -U zzq --if-exists exercise4

In [5]:
!createdb exercise4

In [ ]:
%sql postgresql://zzq@localhost/exercise4

In [16]:
!echo "FACILITY_NAME,FACILITY_KEY,SITE_ADDRESS,CITY,STATE,ZIP,OWNER_KEY,OWNER_NAME,NATURE_OF_BUSINESS,STREET_NUMBER,STREET_NAME,STREET_TYPE,POST_DIRECTIONAL,PHONE,PROGRAM_CATEGORY,PROGRAM_CATEGORY_DESCRIPTION,INSPECTION_DATE,INSPECTION_TYPE,INSPECTION_DESC,SERIAL_NUM,ACTION_CODE,ACTION_DESC,RESULT_CODE,RESULT_DESC,VIOLATION_CODE,VIOLATION_DESC,INSPECTION_MEMO" > abq2.csv

In [17]:
!tail -n +2 abq.csv >> abq2.csv

In [18]:
!csvsql --db postgresql://zzq:hero15ab@localhost/exercise-4 --insert abq2.csv

In [19]:
%%sql
SELECT COUNT(*) FROM abq2;

1 rows affected.

[(17556,)]

In [21]:
%%sql
DROP TABLE IF EXISTS rides;
CREATE TABLE rides (
    FACILITY_KEY INTEGER,
    OWNER_KEY INTEGER,
    NATURE_OF_BUSINESS VARCHAR(64),
    STREET_TYPE VARCHAR(64),
    POST_DIRECTIONAL VARCHAR(64),
    PROGRAM_CATEGORY VARCHAR(64),
    PROGRAM_CATEGORY_DESCRIPTION VARCHAR(64),
    INSPECTION_DATE TIMESTAMP,
    INSPECTION_TYPE VARCHAR(64),
    INSPECTION_DESC VARCHAR(64),
    SERIAL_NUM INTEGER,
    ACTION_CODE INTEGER,
    RESULT_CODE CHAR(64),
    RESULT_DESC VARCHAR(64),
    VIOLATION_CODE CHAR(64),
    VIOLATION_DESC VARCHAR(64)
)

Done.
Done.

[]

In [22]:
!pwd

/home/zzq/Downloads/Data Management/wk8

In [23]:
%%sql
COPY rides FROM '/Users/zzq/Downloads/Data Management/wk8/abq2.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

(psycopg2.ProgrammingError) must be superuser to COPY to or from a file
HINT:  Anyone can COPY to stdout or from stdin. psql's \copy command also works for anyone.
 [SQL: 'COPY rides FROM \'/Users/zzq/Downloads/Data Management/wk8/abq2.csv\'\nCSV\nHEADER\nQUOTE \'"\'\nDELIMITER \',\';']

In [25]:
%%sql
SELECT COUNT(*) FROM abq2;

1 rows affected.

[(17556,)]

In [27]:
%%sql
SELECT column_name, data_type, character_maximum_length, is_nullable
FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = 'abq2';

27 rows affected.

[('FACILITY_NAME', 'character varying', 77, 'NO'),
 ('FACILITY_KEY', 'integer', None, 'NO'),
 ('SITE_ADDRESS', 'character varying', 35, 'YES'),
 ('CITY', 'character varying', 11, 'NO'),
 ('STATE', 'character varying', 2, 'NO'),
 ('ZIP', 'character varying', 10, 'NO'),
 ('OWNER_KEY', 'integer', None, 'NO'),
 ('OWNER_NAME', 'character varying', 82, 'NO'),
 ('NATURE_OF_BUSINESS', 'character varying', 25, 'YES'),
 ('STREET_NUMBER', 'character varying', 7, 'YES'),
 ('STREET_NAME', 'character varying', 24, 'YES'),
 ('STREET_TYPE', 'character varying', 4, 'YES'),
 ('POST_DIRECTIONAL', 'character varying', 4, 'YES'),
 ('PHONE', 'bigint', None, 'YES'),
 ('PROGRAM_CATEGORY', 'character varying', 4, 'NO'),
 ('PROGRAM_CATEGORY_DESCRIPTION', 'character varying', 40, 'YES'),
 ('INSPECTION_DATE', 'date', None, 'NO'),
 ('INSPECTION_TYPE', 'character varying', 32, 'YES'),
 ('INSPECTION_DESC', 'character varying', 32, 'NO'),
 ('SERIAL_NUM', 'character varying', 9, 'NO'),
 ('ACTION_CODE', 'character varying', 2, 'NO'),
 ('ACTION_DESC', 'character varying', 34, 'NO'),
 ('RESULT_CODE', 'character varying', 2, 'NO'),
 ('RESULT_DESC', 'character varying', 37, 'NO'),
 ('VIOLATION_CODE', 'character varying', 10, 'YES'),
 ('VIOLATION_DESC', 'character varying', 50, 'YES'),
 ('INSPECTION_MEMO', 'character varying', 32, 'YES')]

## Problem 3 - explore your data (30 points)

Now that the data is loaded, ask some questions of it!  Identify key variables of interest and note their ranges along with other useful descriptive statistics.  Choose and define a few lines of inquiry, execute queries for each, and describe what you find in your result sets.  Use any query techniques we've seen in class, including aggregate functions, transformations, subqueries, or others as appropriate. 

If you find interesting patterns, adding plots to your exploration would be useful.

Insert a combination of code and text/markdown cells here to explore your data.

## Bonus (10 points)

We have seen a few simple techniques for normalizing data in class.  Choose a column or set of columns that might be redundant and normalize them out to another table:

* Identify the columns to normalize in the source data table
* Create one or more new tables to hold the normalized records
* Extract data into the new tables
* Re-insert the new foreign key references from the new table into the source table